$primary-color: #333;
$secondary-color: #ccc;
$font-family: Arial, sans-serif;

body {
    margin: 0;
    padding: 0;
    font-family: $font-family;
    width: 350px;
}

.app {
    ul {
        list-style-type: none;
    }
}

.tab-switcher {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;

    &__tab-button {
        cursor: pointer;
        padding: 12px 0px;
        font-size: 15px;
    }
}

.react-tabs {
    &__tab-list {
        margin: 0px;
        padding: 0px;
    }

    &__tab-panel {
        overflow: auto;
        overflow-x: hidden;
    }

    &__tab {
        width: 100%;
        text-align: center;

        border-bottom: 1px solid $primary-color;

        &:not(:last-child) {
            border-right: 1px solid $primary-color;
        }

        &--selected {
            color: rgb(173, 61, 61);
        }
    }
}
